# Исключить бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Исключить каталоги сборки и кеши
/vendor/
/bin/
/build/
/dist/
/tmp/
/.cache/

/vendor

*.log
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.idea/
*.vscode/

.git
.gitignore
.gitattributes

*.coverprofile
*.testresult
coverage.*

README.md
LICENSE
*.md

!go.mod
!go.sum
